<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Home</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content=""
  />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);


    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--booststrap-->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="../static/css/font-awesome.min.css" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>

<body>
  <!-- //banner -->
     <div class="banner-left-side" id="home">
      <!-- header -->
      <!-- //header -->
      <!-- banner -->
      <div class="main-banner text-center">
        <div class="container">
          <div class="banner-right-txt">
            <h5 class="mb-lg-4 mb-md-3 mb-2">欢迎使用</h5>
			  <h4><span class="colo-change">3</span>D<span class="colo-change">打</span>印 <span class="colo-change">云</span>平<span class="colo-change">台</span>！</h4>
          </div>
          <div class="slide-info-txt">
            <p>点击按钮设置参数</p>
          </div>
		  	 <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
            <a href="/setting" >设置页面</a>
             </div>
		  	 <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
            <a href="/reset" >恢复出厂设置</a>
             </div>
        </div>
      </div>
    </div>
    <!-- //banner -->
	<!-- about -->
</body>
</html>